
/* OTP Container */
.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Heading */
.otp-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}
.otp-owner-info {
  font-size: 18px;
  color: #007bff;
}
/* OTP Input */
.otp-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

/* Verify Button */
.otp-button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #12a72f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.otp-button:hover {
  background-color: #558d08;
}

.otp-button:active {
  transform: translateY(2px);
}

/* Error Message */
.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .otp-container {
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .otp-container {
    margin: 10px auto;
  }
  .otp-input {
    padding: 5px;
  }
  .otp-button {
    padding: 5px 10px;
  }
}